{% extends 'base.html.twig' %}

{% block title %}Caja index{% endblock %}

{% block body %}
    <h1>Caja</h1>

    {{ include('caja/_form.html.twig') }}
    <br>
                <div class="input-group mb-3 input-daterang input-daterange">
                {% if is_granted('ROLE_ADMIN') %}

                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Desde</span>
                        </div>
                        <input type="text" class="form-control" id="desde" value="{{ desde }}" aria-label="desde" aria-describedby="basic-addon1">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon2">Hasta</span>
                        </div>
                        <input type="text" class="form-control" id="hasta" value="{{ hasta }}" aria-label="hasta" aria-describedby="basic-addon2">


                {% endif %}

                    {#<input type="text" name="desc" id="desc" value="{{ buscar }}" placeholder="buscar por descrición" class="form-control">#}

                    <button class="btn btn-primary form-control" id="buscar" data-url="{{ path('caja_index')}}">buscar</button>

                    <button class="btn btn-info form-control" id="limpiar" data-url="{{ path('caja_index')}}">ver todo</button>
                </div>

            {% if is_granted('ROLE_ADMIN') %}

                <div class="input-group mb-3 row">
                    <div class="col-12">
                        <span id="calcular">Ingresos con/sin ticket: ${{ ingresos }}/${{ ingresosSinTicket }}</span>
                    </div>
                    <div class="col-12">
                        <span id="calcular">Ingresos Efectivo/Tarjeta: ${{ totalEfectivo }}/${{ totalTarjeta }}</span>
                    </div>
                    <div class="col-12">
                        <span>Total: ${{ ingresos + ingresosSinTicket }}</span>
                    </div>

                </div>

            {% endif %}

    <table class="table table-striped">
        <thead>
        <tr class="controles">
            {# sorting of properties based on query components #}
            <th {% if pagination.isSorted('c.id') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Id', 'c.id') }}
            </th>
            {# <th {% if pagination.isSorted(['c.descrip']) %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Descripción', 'c.descrip') }}
            </th> #}
            <th {% if pagination.isSorted(['c.ingreso']) %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Ingreso', 'c.ingreso') }}
            </th>
            <th {% if pagination.isSorted(['c.egreso']) %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Egreso', 'c.egreso') }}
            </th>
            <th {% if pagination.isSorted(['c.llevaTicket']) %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'lleva Ticket', 'c.llevaTicket') }}
            </th>
            <th {% if pagination.isSorted(['c.efectivo']) %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Pago en Efectivo', 'c.efectivo') }}
            </th>
            <th {% if pagination.isSorted(['c.date']) %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Fecha', ['c.fecha']) }}
            </th>
            {% if is_granted('ROLE_ADMIN') %}
                <th>Acciones</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {# table body #}
        {% for items in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ loop.index }}</td>
                {#<td>{{ items.descrip }}</td>#}
                <td>{{ items.ingreso }}</td>
                <td>{{ items.egreso }}</td>
                <td>
                    {% if items.llevaTicket %}
                        si
                    {% else %}
                        no
                    {% endif %}
                </td>
                <td>
                    {% if items.efectivo %}
                        si
                    {% else %}
                        no
                    {% endif %}
                </td>
                <td>{{ items.fecha | date('Y-m-d H:i:s') }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                <td>
                    <a href="{{ path('caja_show', {'id': items.id}) }}">show</a>
                    <a href="{{ path('caja_edit', {'id': items.id}) }}">edit</a>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>

        </tfoot>
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/caja.js') }}"></script>

{% endblock %}
